@import url('https://fonts.googleapis.com/css?family=Allura|JoseFin+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans',sans-serif;
}
p{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
}
.main_caontainer{
    position: relative;
}
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    align-items: center;
    position: absolute;
    background-color:  rgb(17, 90, 163);
}
.navbar .navbar_items li:hover, .active{
    border-bottom:2px solid deepskyblue;
    color: white;
}
.logo:hover{
    transform: scale(1.1);
}
.logo a{
      font-family: 'Allura',cursive;
      font-size: 40px;
      color: white;
}
.logo a:hover{
    color: deepskyblue;
}
.navbar .navbar_items ul{
    display: flex;
}
.navbar .navbar_items ul li {
    text-transform: uppercase;
    margin: 0 10px; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}
    
li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    color: deepskyblue;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: deepskyblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    /* color: white; */
    background-color:white; 
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* banner image */
.banner_image{
    background: url("../img/bgg.png") no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_content{
    text-align: center;
    color: white;
}
.banner_content h1{
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 15px; 
}
.banner_content h1 span{
    color: red;
}
/* about */
.about{
    padding: 5% 10%;
    text-align: center;
} 
h1.title{
    /* border-bottom: 2px solid deepskyblue ; */
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Allura',cursive;
    text-transform: uppercase;
    font-size: 30px;
    word-spacing: 25px;
    letter-spacing: 5px;
    text-align: center;
}
.contactus .btn a{
    width: 15%;
}
.btn a{
    display: block;
    width: 50%;
    height: auto;
    border: 2px solid deepskyblue;
    line-height: 35px;
    margin: 25px auto 0;
    text-align: center;
    color: red;
}
.btn a:hover{
    background-color: deepskyblue;
    color: white;
    transform: scale(1.1);
}
.produk{
    background-color: rgb(17, 90, 163);
    color: white;
    min-height: 500px;
    overflow: auto;
    justify-content: left;
    font-size: 14px;
}
.produk h4{
    margin-top: 15px;
    color : black;
    font-size: 14px;
} 
.produk p{
    text-align: center;
    color: rgb(17, 90, 163);
}
.produk .star .checked{
    /* align:left; */
    color:orange;
}
.produk .thumbnail{
    float: left;
    background-color: white;
    color: rgb(17, 90, 163);
    padding: 10px;
    text-align: center;
    margin: 10px;
    margin-left: 2%; 
    width: 17%;
    cursor: pointer;
    overflow: hidden;
}
.produk .thumbnail img{
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.5s ease;
}
.produk .thumbnail:hover img{
    /* margin-bottom: 15px; */
    transform: scale(1.1);
}
.contactus{
    padding: 5% 10%;
    text-align: center;
}
.forminput{
    margin-bottom: 15px;
}
.forminput input[type="text"]{
    width: 45%;
    padding: 12px 20px;
    border: 1px solid #cccccc;
}
.forminput textarea{
    width: 45%;
    padding: 12px 20px;
    height: 100px;
    resize: none;
} 

/* .logososmed img{
    width: 7%;   
    display: block;
    margin: 0px auto 10px auto; 
} */

.footer{
    width: 100%;
    text-align: center;
    background:rgb(17, 90, 163);
    padding: 20px 0;
}   
.footer a{
    color: #ddd;
}
.container{
    width: 100%;
    margin: 0 auto;
}

@media (max-width:720px){
    .main_container{
        height: auto;
        flex-direction: column;
    }
    .navbar{
        height: auto;
        flex-direction: column;
    }
    .navbar ul{
        flex-direction: column;
        text-align: center;
    }
    .logo{
        margin-bottom: 25px;
    }
    .navbar ul li{
        margin-bottom: 5px;
    }
    .banner_content{
        margin-top: 35px;
    }
    .produk{
        height: auto;
        flex-direction: column;
    }
    .btn a{
        font-size: 45%;
        width: 50%;
        height: auto;
    }
    .thumbnail h4,p, .star{
        font-size: 40%;
        size: 40%;
    }


}

.arrow{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: deepskyblue;
    border-radius: 50%;
}
.arrow img{
    width: 20px;
    height: 20px;
    z-index: 1;
}